body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.text {
    font-family: Roboto;
    font-style: normal;

    display: flex;
    align-items: center;
    text-align: center;
}

.heading {
    justify-content: center;
    color: #3F3F3F;
}

.navigation-button {
    background: #F16529;
    color: #FFFFFF;

    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    align-self: center;
}


.steps-container,
.flex-contributors {
    display: flex;
    width: 90vw;
    align-self: center;
}


/*panel with the steps and arrows*/

/* box of each step */
.step-box {
    padding: 10px;
    border: 1px solid #DCDCDC;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

/*the number images 1,2,3*/
.step-box>img {
    align-self: center;
    padding-left: 10px;
}

.step-box>div {
    align-self: center;
    color: #3F3F3F;
}

.step-box>div p:first-child {
    font-weight: bold;
}

.step-box>div p:last-child {
    font-size: 16px;
}

/* the arrow image */
.steps-container>img {
    align-self: center;
}

/* -------------- */

/* each person box*/
.contributor {
    width: 1fr;
    padding: 10px;
    border: 1px solid #DCDCDC;
    column-gap: 20px;
    display: flex;
    flex-direction: row;
}

/* image for person */
.contributor img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    align-self: center;
}

.contributor>div {
    align-self: center;
    color: #373737;
}

.contributor-information p:first-child {
    font-weight: bold;
    font-size: 16px;
}

.contributor-information p:last-child {
    font-size: 16px;
    text-align: left;
}

/* -------------- */


/* logos */
.logo {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-self: center;
    margin-bottom: 75px;
}

/* footer of the page */

footer {
    width: 100vw;
    background: rgba(220, 220, 220, 0.6);
}

footer>p {
    font-size: 16px;
    line-height: 21px;
    color: #373737;
}

.links {
    display: flex;
    column-gap: 15px;
    justify-content: center;
    padding: 10px 0;
}

.links>a {
    font-size: 16px;
    color: #373737;
    justify-content: center;
}


/* Desktop mode */
@media only screen and (min-width: 1000px) {

    /* main image */
    #head-image {
        position: absolute;
        height: 400px;
        width: 100vw;
    }

    .default-form {
        width: 30vw;
        height: 400px;
        margin-left: 60vw;
    }

    .default-form h1 {
        padding-top: 80px;
        font-size: 36px;
    }

    .default-form input[type="email"] {
        height: 60px;
    }

    .default-form input[type="submit"] {
        font-size: 13px;
        height: 60px;
    }

    .heading.title {
        margin-top: 425px;
    }

    .heading {
        font-size: 36px;
        font-weight: bold;
        color: #3F3F3F;
    }

    .steps-container,
    .flex-contributors {
        flex-direction: row;
    }

    .step-box {
        width: 32%;
    }

    .step-box>img {
        width: 35px;
        height: 75px;
    }

    .steps-container>img {
        width: 60px;
        height: 100px;
    }

    /*panel with the people cards*/
    .flex-contributors {
        column-gap: 20px;
    }

    footer>p {
        margin: 0 25%;
    }
}

/* Tablet mode */
@media only screen and (min-width: 600px) and (max-width:1000px) {

    /* main image */
    #head-image {
        position: absolute;
        height: 200px;
        width: 100vw;
    }

    .heading.title {
        margin-top: 220px;
    }

    .heading {
        font-size: 36px;
        font-weight: bold;
        color: #3F3F3F;
    }

    .default-form {
        width: 40vw;
        height: 200px;
        left: 55vw;
    }

    .mobile-form {
        display: none;
    }

    .steps-container>img {
        margin-left:70vw;
    }
}

/*mobile phones*/
@media only screen and (max-width: 600px) {

    /* main image*/
    #head-image {
        position: absolute;
        width: 100vw;
    }

    .heading.title {
        margin-top: 120px;
    }

    .heading {
        font-size: 24px;
        font-weight: bold;
        color: #3F3F3F;
    }

    .default-form {
        display: none;
    }

    /* form with email and submit button */
    .mobile-form {
        width: 90vw;
        height: 180px;
        margin: 20px 0;
        align-self: center;
        background: rgba(63, 63, 63, 0.6);
    }

    .mobile-form h1 {
        width: 80%;

        font-weight: bold;
        font-size: 24px;
        line-height: 28px;

        display: flex;
        text-align: center;
        padding-left: 10%;

        color: #FFFFFF;
    }

    /* form button submit*/
    .mobile-form input[type="submit"] {
        width: 90%;
        height: 30px;
        margin: 5% 0 0 5%;
        background-color: #FFDE25;

        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    /* form text field*/
    .mobile-form input[type="email"] {
        width: 90%;
        margin-left: 5%;
        height: 30px;

        background: #FFFFFF;
        border: 1px solid #E1D5D5;
        box-sizing: border-box;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .navigation-button.one {
        position: absolute;
        width: 80vw;
        margin-top: 80px;
    }

    .navigation-button.two {
        display: none;
    }

    .logo {
        flex-wrap: wrap;
        width: 250px;
        row-gap: 30px;
        justify-content: center;
    }

    .links {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .links>a {
        padding: 10px;
    }
}

/*Desktop and tablet*/
@media only screen and (min-width: 1000px),
only screen and (min-width: 600px) and (max-width:1000px) {

    /* form with email and submit button */
    .default-form {
        position: absolute;
        background: rgba(63, 63, 63, 0.6);
    }

    /* header of the form*/
    .default-form h1 {
        padding-left: 10px;
        font-weight: bold;
        text-align: center;
        color: #FFFFFF;
    }

    /* form button submit*/
    .default-form input[type="submit"] {
        width: 90%;
        margin: 5% 0 0 5%;
        padding: 10px;

        background-color: #FFDE25;
        color: #FFFFFF;

        font-weight: bold;
        text-transform: uppercase;
    }

    /* form text field*/
    .default-form input[type="email"] {
        width: 90%;
        margin-left: 5%;

        background: #FFFFFF;
        border: 1px solid #E1D5D5;
        box-sizing: border-box;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .mobile-form {
        display: none;
    }

    .navigation-button.one {
        display: none;
    }

    .navigation-button.two {
        width: 540px;
        padding: 15px 0px;
        font-size: 36;
        margin: 75px 0;
    }

}

/* mobile and tablet*/
@media only screen and (max-width: 600px),
only screen and (min-width: 600px) and (max-width:1000px) {

    .steps-container,
    .flex-contributors {
        flex-direction: column;
    }

    .step-box {
        width: 1fr;
    }

    .step-box>img {
        width: 25px;
        height: 60px;
    }

    .steps-container>img {
        transform: rotate(90deg);
        width: 40px;
        height: 40px;
    }

    /*panel with the people cards*/
    .flex-contributors {
        row-gap: 20px;
    }
}